@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

body {
  padding: 1rem;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
}
